<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                              "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns="http://www.w3.org/TR/1999/REC-html-in-xml" xml:lang="en"
	lang="en">
	<head>
                <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
                <!-- HTML5 -->
                <meta charset="UTF-8"/>
		<title>{{book_name}} Highlights (APA Format, Readwise-compatible)</title>
	</head>
    <body>
        <div class="bodyContainer">
            <div class="notebookFor">
Notebook for
</div>
<div class="bookTitle">
{{book_name}}
</div>
<div class="authors">
{{author}}
</div>
<div class="citation">
Citation (APA): Unknown. ({{year}}). <i>{{book_name}}</i> [EBook]. Retrieved from Moon Reader+
</div>
<hr />

            <div class="sectionHeading">
Unnamed
</div>
{% for highlight in highlights %}
<div class="noteHeading">
Highlight (<span class="highlight_yellow">yellow</span>) -  Location {{highlight.location}}
</div>
<div class="noteText">
{{highlight.text}}
</div>
{% if highlight.note %}
<div class="noteHeading">
Note -  Location {{highlight.location}}
</div>
<div class="noteText">
{{highlight.note}}
</div>
{% endif %}
{% endfor %}
        </div>
    </body>
</html>